---
import LayoutPage from "@layouts/LayoutPage.astro";
import { Image } from 'astro:assets';
import { getCollection } from "astro:content";
import PortraitMobile from 'public/hero-mobile.png'
import Portrait from 'public/hero.png'
const groups = { // order in here defines order on the page
   "Programming": await Astro.glob("./works/programming/*.md"),
  // "Unity": await Astro.glob("./works/unity/*.md"),
};

function isLight(color: string) { //https://stackoverflow.com/a/12043228/16547627
  let c = color.substring(1);      // strip #
  let rgb = parseInt(c, 16);   // convert rrggbb to decimal
  let r = (rgb >> 16) & 0xff;  // extract red
  let g = (rgb >>  8) & 0xff;  // extract green
  let b = (rgb >>  0) & 0xff;  // extract blue
  let luma = 0.2126 * r + 0.7152 * g + 0.0722 * b; // per ITU-R BT.709

  return (luma < 40);
}

function getYoutubeID(url: string) {
  return url.split( /((\?v=)|(&v=)|(be\/))/g).pop()
}

function youtubeEmbed(url: string) {
  return "https://www.youtube-nocookie.com/embed/"+getYoutubeID(url); //
}

function youtubeThumbnail(url: string) {
  return "https://i3.ytimg.com/vi/"+getYoutubeID(url)+"/maxresdefault.jpg"
}

console.log(getYoutubeID("https://youtu.be/2PuFyjAs7JA?si=5gRjlSgSuPX4HRDt"))
---

<LayoutPage>
  <!-- Hero -->
  <header
    class="bg-primary p-4 md:p-6 !pb-0 flex flex-col items-center gap-4 md:gap-6"
  >
    <h1 class="max-w-[1200px] mx-auto text-balance text-center p-4 pb-8" >
      Hi, I’m Sebastian. I build intuitive games and user-focused applications.
    </h1>
    <Image
      class="md:hidden"
      src={PortraitMobile}
      alt="Portrait of Sebastian Fugle"
    />
    <Image
      class="hidden md:block"
      src={Portrait}
      alt="Portrait of Sebastian Fugle"
    />
  </header>
  <!-- Main -->
  <main class="p-4 py-24 md:py-24">
    <div class="container mx-auto">
      <div class="grid grid-cols-2 md:grid-cols-[48px_auto_1fr] gap-4 md:gap-8">
        <!-- Heading -->
        <h2
          class="h2 md:origin-top-right md:-rotate-[90deg] md:-translate-x-[48px] md:translate-y-[195px] md:whitespace-nowrap"
        >
          <svg
            class="fill-current md:size-9 !hidden md:!inline-block fa-solid fa-arrow-left-long -translate-y-1"
            xmlns="http://www.w3.org/2000/svg"
            height="16"
            width="16"
            viewBox="0 0 512 512"
          >
            <path
              d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"
            ></path>
          </svg>
          <span>Works</span>
        </h2>
        <!-- Horz Rule -->
        <div class="hidden md:block">
          <hr class="hr-vert" />
        </div>
        <!-- Grid -->
        <div class="space-y-10">
          {
            Object.entries(groups).map(([group, works]) => (
              <section class="space-y-4">
                <h3 class="h3">
                  <span class="text-primary font-bold">{"["}</span>
                  {group}
                  <span class="text-primary font-bold">{"]"}</span>
                </h3>
                <div class="grid grid-cols-2 gap-4 md:gap-4">
                  {works
                    .sort(
                      (a: any, b: any) =>
                        a.frontmatter.group_id - b.frontmatter.group_id
                    )
                    .map((work: any, index) => (

                      <figure class="space-y-2 pt-8 md:pt-4"
                        id=`${work.frontmatter.title.toLowerCase().replace(' ', '-')}`
                      >
                        <input type="checkbox" id=`button_${work.frontmatter.group}_${index}` class="hidden"/>
                        <div class="fig-div">
                          <h4 class="block text-center pb-2">
                            {work.frontmatter.title}
                          </h4>
                          <label class="shelf" for=`button_${work.frontmatter.group}_${index}`>
                            <span class="selectable">
                              {
                              <div class="img-container overflow-hidden justify-center align-middle">
                                {
                                work.frontmatter.videos.length > 0 &&
                                <iframe class="contain" style="grid-area: -1/-1; top: 0; left: 0; width: 100%; height: 100%; border: none;"
                                        src={youtubeEmbed(work.frontmatter.videos[0])}
                                        allow="autoplay; clipboard-write; encrypted-media;"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                }
                                <img
                                  src= {work.frontmatter.videos.length > 0 ? youtubeThumbnail(work.frontmatter.videos[0]) : work.frontmatter.background}
                                  width="auto"
                                  height="auto"
                                  alt={work.frontmatter.title}
                                  class="flex-auto rounded transition-transform object-contain relative h-full w-full"
                                  style={[{ backgroundColor: work.frontmatter.accent }, 'grid-area: 1/-1']}
                                />

                              </div>
                              }
                              <a href={work.url}
                                 class:list ={["relative float-right uppercase text-lg font-semibold",
                                 "opacity-30 bottom-[2em] right-[1.3em] hover:right-[0.75em]",
                                 [!isLight(work.frontmatter.accent) ? 'text-primary' : 'text-surface']
                                 ]}
                              >
                                learn more &rarr;
                              </a>
                            </span>
                          </label>
                        </div>
                      </figure>
                    ))}
                </div>
              </section>
            ))
          }
        </div>
      </div>
    </div>
  </main>
</LayoutPage>

